<div class="jumbotron text-center">
    <h1>ManageMyResume</h1>
    <p class="lead">Welcome to our custom Resume Management application built from scratch</p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Register</a>
      <a class="btn btn-default" [routerLink]="['/login']" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Login</a>
    </div>
</div>
<div class="jumbotron">
  <center>
    <a class="btn btn-primary" [routerLink]="['/about']">About</a>
  </center>
</div>
  