<div *ngIf="user">
    <h2 class="age-header">{{user.name}}</h2>
    <ul class="list-group">
        <li class="list-group-item">Username : {{user.username}}</li>
        <li class="list-group-item">Email : {{user.email}}</li>
    </ul>
    <form (submit)="onUploadSubmit()">
        <div class="form-group">
            <label> Please select Your Resume PDF File (Note: Size must be less than 100KB) </label>
            <input type="file" [(ngModel)]="file" name="file" class="form-control form-control-file" id="resume" accept=".pdf">
          </div>
          <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
